* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "shrikhand";
  src: url(police/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "roboto_bold";
  src: url(police/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "roboto_regular";
  src: url(police/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto_light";
  src: url(police/Roboto/Roboto-Light.ttf);
}
body {
  font-family: roboto_regular;
  width: 100vw;
  height: 1800px;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 3%;
}

#arrow {
  width: 1.3em;
  position: absolute;
  left: 30px;
  top: 15px;
}

#logo {
  width: 13em;
}

#container {
  height: 85%;
  background-color: #F2F2F2;
}

#photo {
  width: 100%;
  height: 20%;
  object-fit: cover;
  position: relative;
}

#menu {
  background-color: #F2F2F2;
  position: absolute;
  width: 100%;
  border-radius: 3em 3em 0 0;
  top: 45%;
}

#name {
  display: flex;
  position: relative;
}

#title {
  font-family: shrikhand;
  margin: 1em 3em 0 0.6em;
  font-size: 1.9em;
}

@keyframes heartOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.heart {
  position: absolute;
  display: flex;
  width: 1.6em;
  top: 40px;
  right: 55px;
}
.heart:hover .emptyHeart {
  display: none;
}
.heart:hover .emptyHeart + .solidHeart {
  animation: heartOpacity 1s linear forwards;
}
.heart:hover .solidHeart {
  display: block;
}

.emptyHeart {
  width: 1.6em;
}

.solidHeart {
  width: 1.6em;
}

.hidden {
  display: none;
}

.bold {
  font-family: roboto_bold;
}

.nameMenu {
  height: 5%;
  margin: 2.5em 0 1em 1em;
}

.greenLine {
  background-color: #99E2D0;
  width: 10%;
  height: 2px;
  margin-top: 0.3em;
}

.light {
  font-family: roboto_light;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sized {
  font-size: 1.2em;
}

@keyframes appearLeft {
  from {
    transform: translateX(-750px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes appearRight {
  from {
    transform: translateX(750px);
  }
  to {
    transform: translateX(0);
  }
}
.course {
  width: 95%;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  margin: 0 auto 1em auto;
  padding: 0.8em 0 0.8em 0.8em;
  line-height: 1.5em;
}
.course__left {
  animation: appearLeft 1s cubic-bezier(0.15, 1.3, 0.57, 1) forwards;
}
.course__right {
  animation: appearRight 1s cubic-bezier(0.15, 1.3, 0.57, 1) forwards;
}

.mainCourse .course__left {
  animation: appearLeft 1s 300ms cubic-bezier(0.15, 1.3, 0.57, 1) both;
}
.mainCourse .course__right {
  animation: appearRight 1s 300ms cubic-bezier(0.15, 1.3, 0.57, 1) both;
}

.dessert .course__left {
  animation: appearLeft 1s 600ms cubic-bezier(0.15, 1.3, 0.57, 1) both;
}
.dessert .course__right {
  animation: appearRight 1s 600ms cubic-bezier(0.15, 1.3, 0.57, 1) both;
}

.text {
  display: flex;
  justify-content: space-between;
}

.price {
  margin: 0 1.5em 0 2em;
}

#button {
  display: block;
  margin: 4em auto 0 auto;
  text-align: center;
  width: 14em;
  height: 3.2em;
  border-radius: 20em;
  padding-top: 1em;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}

footer {
  height: 12%;
  background-color: #302f2f;
  color: white;
  line-height: 2em;
  padding: 1.8em 0 0 1.8em;
}

#whiteLogo {
  max-width: 7em;
  margin-bottom: 0.5em;
}

.footerFlex {
  display: flex;
}

#utensils {
  max-width: 0.7em;
  margin-right: 0.8em;
  padding-bottom: 0.1em;
}

#hands {
  max-width: 1em;
  margin-right: 0.6em;
}

#contact {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 751px) and (max-width: 1279px) {
  #name {
    justify-content: center;
  }

  .heart {
    right: 200px;
  }

  .nameMenu {
    margin-left: 25%;
  }

  @keyframes appearLeft {
    from {
      transform: translateX(-1280px);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes appearRight {
    from {
      transform: translateX(1280px);
    }
    to {
      transform: translateX(0);
    }
  }
  .course {
    width: 50%;
  }

  footer {
    display: flex;
    height: 14%;
  }

  #whiteLogo {
    max-width: 9em;
    margin-bottom: 1em;
  }

  #responsiveDesktop {
    width: 40%;
  }

  #responsiveDesktopContact {
    margin-top: 3.3em;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    height: 1400px;
  }

  header {
    height: 4%;
  }

  #container {
    height: 80%;
  }

  #photo {
    height: 30%;
  }

  .starter, .mainCourse, .dessert {
    display: flex;
    flex-wrap: wrap;
  }

  .nameMenu {
    margin-right: 80em;
  }

  .greenLine {
    width: 80%;
  }

  @keyframes appearLeft {
    from {
      transform: translateX(-5000px);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes appearRight {
    from {
      transform: translateX(5000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .course {
    width: 25%;
  }

  .starter .course__left {
    animation: appearLeft 1s cubic-bezier(0.15, 1.12, 0.57, 1) both;
  }
  .starter .course__right {
    animation: appearRight 1s cubic-bezier(0.15, 1.12, 0.57, 1) both;
  }

  .mainCourse .course__left {
    animation: appearLeft 1s 300ms cubic-bezier(0.15, 1.12, 0.57, 1) both;
  }
  .mainCourse .course__right {
    animation: appearRight 1s 300ms cubic-bezier(0.15, 1.12, 0.57, 1) both;
  }

  .dessert .course__left {
    animation: appearLeft 1s 600ms cubic-bezier(0.15, 1.12, 0.57, 1) both;
  }
  .dessert .course__right {
    animation: appearRight 1s 600ms cubic-bezier(0.15, 1.12, 0.57, 1) both;
  }

  footer {
    display: flex;
    height: 16%;
  }

  #whiteLogo {
    max-width: 10em;
    margin-bottom: 1em;
  }

  #responsiveDesktop {
    width: 25%;
  }

  #responsiveDesktopContact {
    margin-top: 3.5em;
  }
}

/*# sourceMappingURL=delice.css.map */
