$dark_grey: #302f2f;
$light_grey: #F2F2F2;
$medium_grey: #e4e4e4;
$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'shrikhand';
    src: url(police/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: 'roboto_bold';
    src: url(police/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'roboto_regular';
    src: url(police/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'roboto_light';
    src: url(police/Roboto/Roboto-Light.ttf);
}
body
{
    font-family: roboto_regular;
    height: 1950px;
}
header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 3%;
}
#arrow {
    width: 1.3em;
    position: absolute;
    left: 30px;
    top: 15px;
}
#logo
{
    width: 13em;
}
#container {
    height: 85%;
    background-color: $light_grey;
}
#photo {
    width: 100%;
    height: 20%;
    object-fit: cover;
    position: relative;
}
#menu {
    background-color: $light_grey;
    position: absolute;
    width: 100%;
    border-radius: 3em 3em 0 0;
    top: 45%;
}
#name {
    display: flex;
    position: relative;
}
#title {
    font-family: shrikhand;
    margin: 1em 3em 0 0.6em;
    font-size: 1.9em;
}
@keyframes heartOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.heart {
    position: absolute;
    display: flex;
    width: 1.6em;
    top: 40px;
    right: 55px;
    &:hover {
        .emptyHeart {
            display: none;
            &+ .solidHeart {
                animation: heartOpacity 1s linear forwards;
            }
        }
        .solidHeart {
            display: block;
        }
    }
}
.emptyHeart {
    width: 1.6em;
}
.solidHeart {
    width: 1.6em;
}
.hidden {
    display: none;
}
.bold {
    font-family: roboto_bold;
}
.nameMenu {
    height: 5%;
    margin: 2.5em 0 1em 1em;
}
.greenLine {
    background-color: $tertiary_color;
    width: 10%;
    height: 2px;
    margin-top: 0.3em;
}
.light {
    font-family: roboto_light;
}
.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sized {
    font-size: 1.2em;
}
@keyframes appear {
    from {
        opacity: 0;
    } to {
    opacity: 1
    }
}
.course {
    cursor: pointer;
    width: 95%;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
    margin: 0 auto 1em auto;
    padding: 0.8em 0 0.8em 0.8em;
    line-height: 1.5em;
    z-index: 1;
    position: relative;
    transition: padding-right(0);
    transition: padding-right 300ms linear;
    &::before {
        content: "";
        width: 0%;
        height: 100%;
        border-radius: 0 1em 1em 0;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -1;
        background-color: $tertiary_color;
        transition: width 300ms linear;
    }
    &::after {
        width: 26px;
        content: url(images/icons/check-circle-solid.svg);
        position: absolute;
        height: 26px;
        right: 0%;
        top: 32%;
        margin: auto;
        z-index: -1;
        transform: translateX(0px) rotate(0deg);
        transition: all 300ms linear;
    }
    &:hover {
        padding-right: 20%;
        &::before {
            width: 20%;
        }
        &::after {
            transform: translateX(0px) rotate(360deg);
            right: 8%;
        }
    }
}
.course1 {
    animation: appear 1s ease-in-out both;
}
.course2 {
    animation: appear 1s 100ms ease-in-out both;
}
.course3 {
    animation: appear 1s 200ms ease-in-out both;
}
.course4 {
    animation: appear 1s 300ms ease-in-out both;
}
.course5 {
    animation: appear 1s 400ms ease-in-out both;
}
.course6 {
    animation: appear 1s 500ms ease-in-out both;
}
.course7 {
    animation: appear 1s 600ms ease-in-out both;
}
.course8 {
    animation: appear 1s 700ms ease-in-out both;
}
.course9 {
    animation: appear 1s 800ms ease-in-out both;
}
.course10 {
    animation: appear 1s 900ms ease-in-out both;
}
.text {
    display: flex;
    justify-content: space-between;
}
.price {
    margin: 0 1.5em 0 2em;
}
#button {
    display: block;
    margin: 4em auto 0 auto;
    text-align: center;
    position: relative;
    width: 14em;
    height: 3.2em;
    border-radius: 20em;
    padding-top: 1em;
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
    text-decoration: none;
    color: white;
    background: linear-gradient(to top left, $primary_color, $secondary_color);
    &:hover {
        &::after {
            opacity: 0.2;
        }
    }
    &::after {
        content: "";
        border-radius: 20em;
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity 250ms;
        background-color: #FFF;
        box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.4);
    }
}
footer {
    height: 12%;
    background-color: $dark_grey;
    color: white;
    line-height: 2em;
    padding: 1.8em 0 0 1.8em;
}
#whiteLogo {
    max-width: 7em;
    margin-bottom: 0.5em;
}
.footerFlex {
    display: flex;
}
#utensils {
    max-width: 0.7em;
    margin-right: 0.8em;
    padding-bottom: 0.1em;
}
#hands {
    max-width: 1em;
    margin-right: 0.6em;
}
#contact {
    text-decoration: none;
    color: white;
}
@media only screen and (min-width: 751px) and (max-width: 1279px)
{
    #name {
        justify-content: center;
    }
    .heart {
        right: 200px;
    }
    .nameMenu {
        margin-left: 25%;
    }
    .course {
        width: 50%;
        &:hover {
            padding-right: 10%;
        }
    }
    footer {
        display: flex;
        height: 14%;
    }
    #whiteLogo {
        max-width: 9em;
        margin-bottom: 1em;
    }
    #responsiveDesktop {
        width: 40%;
    }
    #responsiveDesktopContact {
        margin-top: 3.3em;
    }
}
@media only screen and (min-width: 1280px)
{
    body {
        height: 1400px;
    }
    header {
        height: 4%;
    }
    #container {
        height: 80%;
    }
    #photo {
        height: 30%;
    }
    .starter, .mainCourse, .dessert {
        display: flex;
        flex-wrap: wrap;
    }
    .nameMenu {
        margin-right: 80em;
    }
    .greenLine {
        width: 80%;
    }
    .course {
        width: 25.1%;
        &:hover {
            padding-right: 5%;
        }
    }
    footer {
        display: flex;
        height: 16%;
    }
    #whiteLogo {
        max-width: 10em;
        margin-bottom: 1em;
    }
    #responsiveDesktop {
        width: 25%;
    }
    #responsiveDesktopContact {
        margin-top: 3.5em;
    }
}